.chocolate-bar-container {
  text-align: center;
}

.chocolate-bar-deployment form {
  display: grid;
  grid-template-areas:
    ". colInputs"
    "rowInputs chocBar";
}

.col-inputs {
  grid-area: colInputs;
  justify-self: start;
}

.row-inputs {
  grid-area: rowInputs;
  justify-self: end;
  align-self: center;
  display: flex;
  flex-direction: column;
}

.cbd-container {
  grid-area: chocBar;
  justify-self: start;
}

.row {
  display: flex;
  justify-content: center;
}

.piece {
  background-color: rgb(122, 2, 2);
  border: rgb(93, 9, 9) solid 8px;
  border-style: outset;
  width: 42px;
  height: 42px;
}
