.chocolate-bar-container {
  text-align: center;
}

.chocolate-bar-deployment {
  display: flex;
  justify-content: center;
}

.chocolate-bar-deployment form > .chocolate-bar {
  display: grid;
  grid-template-columns: auto 1fr;
  width: max-content;
  margin: 40px 0;
  grid-template-areas:
    ". colInputs"
    "rowInputs chocBar";
}

.col-inputs {
  grid-area: colInputs;
  justify-self: start;
  width: 100%;
  margin-bottom: 8px;
  display: flex;
  justify-content: space-evenly;
}

.row-inputs {
  grid-area: rowInputs;
  justify-self: end;
  align-self: center;
  height: 100%;
  margin-right: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.cbd-container {
  grid-area: chocBar;
  justify-self: start;
}

.row {
  display: flex;
  justify-content: center;
}

.piece {
  background-color: rgb(122, 2, 2);
  border: rgb(93, 9, 9) solid 8px;
  border-style: outset;
  width: 42px;
  height: 42px;
}

.chocolate-bar-deployment form input {
  width: 40px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
