.chocolate-bar-deployment {
  display: flex;
  justify-content: center;
}

.chocolate-bar-deployment form > .chocolate-bar {
  display: grid;
  grid-template-columns: auto 1fr;
  width: max-content;
  margin: 40px auto;
  grid-template-areas:
    ". colInputs"
    "rowInputs chocBar";
}

.col-inputs {
  grid-area: colInputs;
  justify-self: start;
  width: 100%;
  margin-bottom: 8px;
  display: flex;
  justify-content: space-evenly;
}

.row-inputs {
  grid-area: rowInputs;
  justify-self: end;
  align-self: center;
  height: 100%;
  margin-right: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.cbd-container {
  grid-area: chocBar;
  justify-self: start;
}

.chocolate-bar-deployment input {
  width: 40px;
}
 .chocolate-bar-deployment button {
   margin-right: 50px;
 }

/* Chrome, Safari, Edge, Opera */
.chocolate-bar-deployment input::-webkit-outer-spin-button,
.chocolate-bar-deployment input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.chocolate-bar-deployment input[type="number"] {
  -moz-appearance: textfield;
}
