.costs-options-container {
  display: flex;
  justify-content: center;
}

.costs-options-container form > .chocolate-container {
  display: grid;
  grid-template-columns: auto 1fr;
  width: max-content;
  margin: 40px auto;
  grid-template-areas:
    ". colInputs"
    "rowInputs chocBar";
}

.costs-options-container form .minimum-value {
  font-weight: bold;
  text-decoration: underline;
}

.cols-wraper {
  grid-area: colInputs;
  justify-self: start;
  width: 100%;
  margin-bottom: 8px;
  display: flex;
  justify-content: space-evenly;
}

.rows-wraper {
  grid-area: rowInputs;
  justify-self: end;
  align-self: center;
  height: 100%;
  margin-right: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.chocolate-bar {
  grid-area: chocBar;
  justify-self: start;
}

.calculation-options-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.costs-options-container input[type="number"] {
  width: 40px;
  text-align: center;
}

.calculation-options-container .minimum-cost-container {
  display: flex;
  gap: 8px;
  margin-left: 32px;
}

.calculation-options-container .minimum-value-container{
  width: 3.5em;
  text-align: left;
}

/* Chrome, Safari, Edge, Opera */
.costs-options-container input::-webkit-outer-spin-button,
.costs-options-container input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.costs-options-container input[type="number"] {
  -moz-appearance: textfield;
}
